[user]
	email = theeban.soundar@gmail.com
	name = Theeban Soundararajan
[alias]
	st = status
	aa = add -A
	cm = commit -m
	ca = commit --amend --no-edit
	co = checkout
	rc = rebase --continue
	branch-name = rev-parse --abbrev-ref HEAD
	squash = !git rebase -i $(git merge-base $(git branch-name) origin/master)
	review = !git diff origin/master | tig
	up = !git fetch origin && git rebase -i origin/master
[github]
	user = theeban275
[push]
	default = simple
[diff]
	tool = tig
[merge]
	ff = only
[core]
	editor = /usr/bin/vim
[color]
	ui = auto
